.succ-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  aspect-ratio: 1/1;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.457);
  padding: 2rem 3rem;
  box-sizing: border-box;
  color: var(--dark-slate-grey);
}

.succ-container img {
  width: 3rem;
  aspect-ratio: 1/1;
  margin: 1rem;
  margin: 0;
}

.succ-container h1 {
  margin: 0;
}

.succ-container p {
  margin: 0;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.succ-container button {
  height: 5.5vh;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.succ-container button:hover {
  background-color: var(--tomato);
  box-shadow: 0px 7px 13px 2px hsl(4, 100%, 67%, 0.4);
}

@media screen and (max-width: 768px) {
  .succ-container {
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    gap: 3vh;
    padding: 17vh 2rem 15vh 2rem;
  }
  .succ-container img {
    width: 5rem;
  }
  .succ-container h1 {
    font-size: 2.8rem;
  }
  .succ-container p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .succ-container button {
    height: 3.6rem;
    font-size: 0.9rem;
    border-radius: 10px;
    margin-top: auto;
  }
}
